html, body {
    height: 100%;
    margin: 0px;
}

body {
    display: flex;
}
nav {
    display: flex;
    flex-direction: column;
    width: 300px;
}
main {
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px);
}

@media (max-width: 650px) {
    body {
        flex-direction: column;
    }
}